@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: "Poppins";
}

section {
  padding: 5em 2em;
}

ul {
  margin: 0;
  padding: 0;
}

.hiddennav {
  transform: translateY(-100px);
}

.navbar {
  background: white;
  padding: 1em;
  position: fixed;
  transition: 0.5s;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.25em;
  color: black;
  width: 10em;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
  margin-right: 2em;
}

.introduction {
  text-align: center;
}
.introduction .subheading {
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  letter-spacing: 0.3em;
}
.introduction h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.introduction a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}
.introduction li {
  padding: 0;
  margin: 0;
}
.introduction ul {
  list-style-position: inside;
  list-style-type: circle;
}

.glider-contain {
  text-align: center;
  background: var(--primary-color);
  padding: 0;
  margin: 0;
}
.glider-contain .item {
  background: #006bd6;
  border-radius: 3em;
  padding: 0;
}
.glider-contain h1 {
  text-transform: uppercase;
  color: rgb(36, 36, 36);
  font-weight: bold;
  letter-spacing: 0.3em;
  margin: 0;
}
.glider-contain p {
  color: white;
}
.glider-contain img {
  height: 5em;
}
.glider-contain a {
  text-decoration: none;
  color: white;
  background: #003c79;
  padding: 1em 1em;
  border-radius: 3em;
}
.glider-contain .glider-next {
  right: 1em;
}

section.skills {
  background: #20272E;
  color: white;
}
section.skills .subheading {
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  letter-spacing: 0.3em;
}
section.skills ul {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
section.skills ul li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
  list-style: none;
}
section.skills ul li:before {
  content: "";
  left: -2em;
  position: absolute;
  top: 1em;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 0.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

input.send-message-cta {
  font-size: 1em;
}

nav.display-menu {
  display: block;
  overflow-y: hidden;
}

nav {
  position: fixed;
  overflow-y: visible;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li {
  list-style-type: none;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

#git-link {
  color: black;
  background: white;
  border-radius: 2em;
  border: 3px solid var(--primary-color);
}
#git-link:hover {
  background: var(--primary-color);
  color: white;
}

.mobile-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

section.contact-me h2 {
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: black;
}
section.contact-me .center {
  width: 11em;
  margin: 0 auto;
  text-align: left;
}
section.contact-me li {
  font-size: 0.8em;
  list-style: none;
  padding: 1em;
}

@media only screen and (min-width: 300px) {
  section.contact-me li {
    font-size: 1em;
  }
  #git-link {
    color: white;
    background: none;
    border-radius: 0;
    border: none;
  }
  #git-link:hover {
    background: none;
    color: none;
  }
}
@media only screen and (min-width: 786px) {
  .mobile-exit, .mobile-menu {
    display: none;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav a {
    color: black;
  }
  .navbar nav ul {
    display: flex;
    font-size: 0.8em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */